.direct-message{
    font-size: 16px;
    padding: 10px;
    word-break: break-word;
    overflow-wrap: break-word;
    max-width: 33rem;
    margin: 10px;
    width: fit-content;
}
.direct-message.follower{
    background-color: rgb(247, 248, 250);
    color: rgb(34, 34, 34);
    border-radius: 1rem 1rem 1rem 0px;
    width: fit-content;
}
.direct-message.user{
    background-color: rgb(8, 112, 209);
    color: white;
    border-radius: 1rem 1rem 0px;
    text-align: end;
    align-self: flex-end;

}

.direct-message-container{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.direct-message-typing-box-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    position: absolute;
    bottom: 0px;
    border-top: 1px solid lightgray;
    height: 40px;
    background-color: white;
}
.direct-message-send{
    background-color:rgb(8, 112, 209);
    color: white;
    border: none;
    border-radius: 28px;
    padding: 5px 16px;
    font-weight: bold;
    font-size: 16px;
}
.direct-message-typing-box{
    width: 80%;
    border: none;
    height: 32px;
    font-size: 16px;
}
.direct-message-typing-box:focus{
    outline: none;
}
.direct-messages-parent{
    height: 500px;
    overflow-y: auto;
    margin-bottom: 50px;
}
