.prof-cover-photo {
    width: 100%;
    object-fit: cover;
    height: 370px;
}
.prof-photo {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px;

    right: 50%;
    justify-content: center;
    top: 390px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: white;
    padding: 2px;
    object-fit: cover;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.profile-edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: right;
    margin-bottom: 16px;
    width: 100%;
}
.user-profile-name {
    font-size: 24px;
    font-weight: bold;

}

.user-photos-container {
    background-color: rgb(247, 248, 250);
    column-count: 3;
    gap: 8px;
    margin: 0px;
    padding: 60px 5px;
    width: 100%;
    margin-top: 10px;
}
.edit-profile-button {
    align-self: flex-end;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 20px 25px 0px 0px;
}
.prof-photo-container {
    width: 100%;
    display: flex;
    position: absolute;
    top: 390px;
    justify-content: center;
    /* max-width: 1270px; */

}
.profile-container {
    width: 100%;

}
.prof-images-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fa-user-plus {
    font-size: 40px;
    border-radius: 50%;
    color: rgb(191, 191, 191);
}
