.prof-cover-photo {
    width: 100%;
    object-fit: cover;
    height: 370px;
}
.prof-photo {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 45%;
    top: 390px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
}
.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-edit-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 16px;
}
.user-profile-name {
    font-size: 24px;
    font-weight: bold;

}
.user-photos-title {
    color: rgb(8, 112, 209);
    text-decoration:none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 2px solid rgb(8, 112, 209);
}
.user-photos-container {
    background-color: rgb(247, 248, 250);
    padding-top: 52px;
}
