.delete-photo-button {
    border: 2px solid red;
    border-radius: 28px;
    background-color: white;
    color: red;
    margin: 10px 0px;
    cursor: pointer;
}
.photo-form {
    display: flex;
    flex-direction: column;
    padding: 0px 20px 20px;
}
.create-product-submit-button {

}
